h1{
font-size: 45px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}



.calc{
    display: inline-block;
    width: 1250px;
    margin-right: 0px;
    padding: 15px;
   
    text-align: center; 
    font-size: 25px;
     
}

button{
   font-size: 15pt;
   padding: 10px;
        
 }

